In [57]:
import mysql.connector

In [43]:
con = mysql.connector.connect(host='localhost',database='ecommerce',user='admin',password='admin')

In [24]:
if con.is_connected():
    db_info = con.get_server_info()
    print('conectado ao servidor MySQL versão:', db_info)
    cursor = con.cursor()
    cursor.execute('select database();')
    resultado = cursor.fetchone()
    print('conectado ao banco de dados:',resultado)

conectado ao servidor MySQL versão: 8.0.32-0ubuntu0.22.04.2
conectado ao banco de dados: ('ecommerce',)

In [7]:

if con.is_connected():
    cursor.close()
    con.close()
    print('conexão encerrada')

NameError: name 'cursor' is not defined

In [ ]:
def get_produto_por_id(produto):
    con = mysql.connector.connect(host='localhost',database='ecommerce',user='admin',password='admin')
    if con.is_connected():
        cursor = con.cursor()
        cursor.execute("""select * from produtos where idprod = produto;""")
        resultado = cursor.fetchone()
        con.close()
        return resultado
    else: return 'erro de conexão'

In [ ]:
def get_produto_por_id(produto):
    con = mysql.connector.connect(host='localhost',database='ecommerce',user='admin',password='admin')
    if con.is_connected():
        cursor = con.cursor()
        cursor.execute("""select * from produtos where idprod = produto;""")
        resultado = cursor.fetchone()
        con.close()
        return resultado
    else: return 'erro de conexão'

In [32]:
if con.is_connected():
    cursor = con.cursor()
    cursor.execute("""
        INSERT INTO usuarios (nome, cartao, email) VALUES ('João Silva', '1234567890123456', 'joao.silva@gmail.com');
    """)
    resultado = cursor.fetchall()

In [45]:
if con.is_connected():
    cursor = con.cursor()
    cursor.execute("""
        drop table usuarios;
    """)
    resultado = cursor.fetchall()

In [42]:
if con.is_connected():
    cursor = con.cursor()
sql = "INSERT INTO usuarios (nome, cartao, email) VALUES (%s, %s,%s)"
val =  ('João Siva', '1234567890123456', 'joao.silva@gmail.com')
cursor.execute(sql, val)
print(cursor.rowcount, "record inserted.")

1 record inserted.

In [49]:
def insert_usuarios(nome, cartao, email):
    con = mysql.connector.connect(host='localhost',database='ecommerce',user='admin',password='admin')
    cursor = con.cursor()
    sql = f"""BEGIN;
                INSERT INTO carrinho(id) values(null);
                INSERT INTO usuarios (nome, cartao, email,cod_carrinho) VALUES ('{nome}', {cartao}, '{email}', (SELECT max(id) FROM carrinho));
            COMMIT;
            """
    print(sql)
    cursor.execute(sql)
    cursor.close()
    con.close()

In [26]:
lista_usuarios= [{'nome':'João Silva','cartao':'1234567890123456','email':'joao.silva@gmail.com'}, 
        {'nome':'Maria Souza','cartao':'2345678901234567','email':'maria.souza@hotmail.com'},
        {'nome':'Carlos Santos','cartao':'3456789012345678','email':'carlos.santos@yahoo.com'}]

In [54]:
con = mysql.connector.connect(host='localhost',database='ecommerce',user='admin',password='admin')
for usuario in lista_usuarios:
    insert_usuarios(usuario.get('nome'),usuario.get('cartao'),usuario.get('email'))

BEGIN;
                INSERT INTO carrinho(id) values(null);
                INSERT INTO usuarios (nome, cartao, email,cod_carrinho) VALUES ('João Silva', 1234567890123456, 'joao.silva@gmail.com', (SELECT max(id) FROM carrinho));
            COMMIT;

BEGIN;
                INSERT INTO carrinho(id) values(null);
                INSERT INTO usuarios (nome, cartao, email,cod_carrinho) VALUES ('Maria Souza', 2345678901234567, 'maria.souza@hotmail.com', (SELECT max(id) FROM carrinho));
            COMMIT;

BEGIN;
                INSERT INTO carrinho(id) values(null);
                INSERT INTO usuarios (nome, cartao, email,cod_carrinho) VALUES ('Carlos Santos', 3456789012345678, 'carlos.santos@yahoo.com', (SELECT max(id) FROM carrinho));
            COMMIT;

In [14]:
val =  (nome, cartao, email)
sql = """SELECT `AUTO_INCREMENT` FROM  INFORMATION_SCHEMA.TABLES WHERE TABLE_SCHEMA = 'ecommerce' AND   TABLE_NAME   = 'carrinho';"""
cursor.execute(sql)
idCarrinho = cursor.fetchone()
sql = 'INSERT INTO carrinho values (null)'

In [25]:
sql = """SELECT `AUTO_INCREMENT` FROM  INFORMATION_SCHEMA.TABLES WHERE TABLE_SCHEMA = 'ecommerce' AND   TABLE_NAME   = 'carrinho';"""
cursor.execute(sql)
idCarrinho = cursor.fetchone()

In [1]:
from lib import insert_produtos
lista_produtos= [{'preco':'9.99','imagemUrl':'https://static1.patasdacasa.com.br/articles/6/37/16/@/14887-fotos-de-cachorros-filhotes-com-seus-bri-articles_media_slider_mobile-2.jpg','descricao':'cachorro fofo'}, 
        {'preco':'19.99','imagemUrl':'https://static1.patasdacasa.com.br/articles/6/37/16/@/14941-fotos-de-cachorros-pequenos-precisam-ter-articles_media_slider_mobile-2.jpg','descricao':'cachorro fofuxo'},
        {'preco':'29.99','imagemUrl':'https://noticias.buscavoluntaria.com.br/wp-content/uploads/2019/03/kitten-solid-white-cat-motherless-child.jpg','descricao':'gato fofo'}]

for produto in lista_produtos:
    insert_produtos(produto.get('preco'),produto.get('imagemUrl'),produto.get('descricao'))

BEGIN;INSERT INTO produto (preco, imagemUrl, descricao) VALUES (9.99, 'https://static1.patasdacasa.com.br/articles/6/37/16/@/14887-fotos-de-cachorros-filhotes-com-seus-bri-articles_media_slider_mobile-2.jpg', 'cachorro fofo');COMMIT;
BEGIN;INSERT INTO produto (preco, imagemUrl, descricao) VALUES (19.99, 'https://static1.patasdacasa.com.br/articles/6/37/16/@/14941-fotos-de-cachorros-pequenos-precisam-ter-articles_media_slider_mobile-2.jpg', 'cachorro fofuxo');COMMIT;
BEGIN;INSERT INTO produto (preco, imagemUrl, descricao) VALUES (29.99, 'https://noticias.buscavoluntaria.com.br/wp-content/uploads/2019/03/kitten-solid-white-cat-motherless-child.jpg', 'gato fofo');COMMIT;

In [1]:
from lib import insert_ceps
lista_ceps= [{'cep':'12345678','cidade':'São Paulo','estado':'SP'}, 
        {'cep':'87654321','cidade':'Rio de Janeiro','estado':'RJ'},
        {'cep':'23456789','cidade':'Belo Horizonte','estado':'MG'}]

for ceps in lista_ceps:
    insert_ceps(ceps.get('cep'),ceps.get('cidade'),ceps.get('estado'))

BEGIN;INSERT INTO cep (cep, cidade, estado) VALUES ('12345678', 'São Paulo', 'SP');COMMIT;
BEGIN;INSERT INTO cep (cep, cidade, estado) VALUES ('87654321', 'Rio de Janeiro', 'RJ');COMMIT;
BEGIN;INSERT INTO cep (cep, cidade, estado) VALUES ('23456789', 'Belo Horizonte', 'MG');COMMIT;

In [1]:
from lib import insert_lista

lista_lista= [{'nome':'Ofertas','id':18}, 
        {'nome':'Alimentos','id':19},
        {'nome':'Eletrodomesticos','id':20},
        {'nome':'Higiene','id':21},
        {'nome':'Livros','id':18}]

for lista in lista_lista:
    insert_lista(lista.get('nome'),lista.get('id'))

In [2]:
from lib import insert_produto_no_carrinho
lista_produtos_no_carrinho = [
    {'prod':18,'user':64,'quant':20},
    {'prod':19,'user':64,'quant':20},
    {'prod':20,'user':64,'quant':20}
]


for lista in lista_produtos_no_carrinho:
    insert_produto_no_carrinho(lista.get('prod'),lista.get('user'),lista.get('quant'))

In [1]:
from lib import insert_venda

insert_venda('canguçu',20.10,64)